.margin {
    margin: auto;
  }
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.panel-title{
  color:#fff;
  padding:5px;
}
.panel-heading{
  background: #42925b;
  background: linear-gradient(to bottom right, #42925b 0%,#a4eaba 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 );
  height: 50px;
}