<div class="container margin">
	<div class="row centered-form">
		<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
            	<div class="panel-heading">
                    <h3 class="panel-title">User Profile page 
                    </h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action=" " method="post">
                        <fieldset>
                           
                            <div class="panel sub-heading form-group">
                                <h3 class="panel-title-inner">From Trip Origin: 
                                </h3>
                            </div>

                            <div class="form-group">
                                 <div class="col-md-12  inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-globe"></i>
                                        </span>
                                        <select class="form-control" >
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="DC">District Of Columbia</option>
                                            <option value="FL">Florida</option>
                                            <option value="GA">Georgia</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="ID">Idaho</option>
                                            <option value="IL">Illinois</option>                                                
                                            <option value="IN">Indiana</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                            <option value="ME">Maine</option>
                                            <option value="MD">Maryland</option>
                                            <option value="MA">Massachusetts</option>
                                            <option value="MI">Michigan</option>
                                            <option value="MN">Minnesota</option>
                                             <option value="MS">Mississippi</option>
                                            <option value="MO">Missouri</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NV">Nevada</option>
                                            <option value="NH">New Hampshire</option>
                                            <option value="NJ">New Jersey</option>                                                
                                            <option value="NM">New Mexico</option>
                                            <option value="NY">New York</option>
                                            <option value="NC">North Carolina</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="OH">Ohio</option>
                                            <option value="OK">Oklahoma</option>
                                            <option value="OR">Oregon</option>
                                            <option value="PA">Pennsylvania</option>
                                            <option value="RI">Rhode Island</option>
                                            <option value="SC">South Carolina</option>
                                            <option value="SD">South Dakota</option>
                                            <option value="TN">Tennessee</option>
                                            <option value="TX">Texas</option>
                                            <option value="UT">Utah</option>
                                            <option value="VT">Vermont</option>
                                            <option value="VA">Virginia</option>
                                            <option value="WA">Washington</option>
                                            <option value="WV">West Virginia</option>
                                            <option value="WI">Wisconsin</option>
                                            <option value="WY">Wyoming</option>
                                            </select>	
                                        </div>
                                    </div>
                                </div>			
                                                
                             <div class="form-group">
                                <div class="col-md-12  inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-globe"></i>
                                        </span>
                                        <input name="user-originCity" placeholder="City" required="" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12  inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-time"></i>
                                        </span>
                                        <input name="user-originTime" placeholder="Time" required="" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="panel sub-heading form-group">
                                    <h3 class="panel-title-inner">To Trip Destination: 
                                    </h3>
                                </div>
    
                                <div class="form-group">
                                    <div class="col-md-12  inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-globe"></i>
                                            </span>
                                            <input name="user-destinationCity" placeholder="City" required="" class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
    
                                <div class="form-group">
                                    <div class="col-md-12  inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-time"></i>
                                            </span>
                                            <input name="user-destinationTime" placeholder="Time" required="" class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>

                                <div class="panel sub-heading form-group">
                                        <h3 class="panel-title-inner">Additional Information: 
                                        </h3>
                                    </div>
        
                                    <div class="form-group">
                                        <div class="col-md-12  inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-info-sign"></i>
                                                </span>
                                                <input name="user-bio" placeholder="Short Bio" required="" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="form-group">
                                        <div class="col-md-12  inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-question-sign"></i>
                                                </span>
                                                <input name="user-seatsOffered" placeholder="Seats Offered" required="" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12  inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-question-sign"></i>
                                                </span>
                                                <input name="user-seatRequired" placeholder="Seats Required" required="" class="form-control" type="text">
                                            </div>
                                       </div>
                                    </div>

                                    <div class="form-group">
                                            <div class="col-md-12  inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-camera"></i>
                                                    </span>
                                                    <input type="file" name="user-pic" accept="image/*" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                   
            

                        <!-- 
                                        <div class="form-group">
                                            <div class="col-md-12  inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                    </span>
                                                    <input name="user-desc" placeholder="Full Name" required="" [(ngModel)]="profileData.desc" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                        -->
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" (click)="onSubmit()" class="btn btn-info btn-block">Update
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
	</div>
</div>