<div class="container margin">
	<div class="row centered-form">
		<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
            	<div class="panel-heading">
                    <h3 class="panel-title">User Profile page 
                    </h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action=" " method="post">
                        <fieldset>
                           
                            <div class="panel panel-heading form-group">
                                <h3 class="panel-title-inner">From Trip Origin: 
                                </h3>
                            </div>

                             <div class="form-group">
                                <div class="col-md-12  inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-globe"></i>
                                        </span>
                                        <input name="user-originCity" placeholder="City" required="" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12  inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-time"></i>
                                        </span>
                                        <input name="user-originTime" placeholder="Time" required="" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="panel panel-heading form-group">
                                    <h3 class="panel-title-inner">To Trip Destination: 
                                    </h3>
                                </div>
    
                                <div class="form-group">
                                    <div class="col-md-12  inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-globe"></i>
                                            </span>
                                            <input name="user-destinationCity" placeholder="City" required="" class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
    
                                <div class="form-group">
                                    <div class="col-md-12  inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-time"></i>
                                            </span>
                                            <input name="user-destinationTime" placeholder="Time" required="" class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-heading form-group">
                                        <h3 class="panel-title-inner">Additional Information: 
                                        </h3>
                                    </div>
        
                                    <div class="form-group">
                                        <div class="col-md-12  inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-info-sign"></i>
                                                </span>
                                                <input name="user-bio" placeholder="Short Bio" required="" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="form-group">
                                        <div class="col-md-12  inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-question-sign"></i>
                                                </span>
                                                <input name="user-seatsOffered" placeholder="Seats Offered" required="" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12  inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-question-sign"></i>
                                                </span>
                                                <input name="user-seatRequired" placeholder="Seats Required" required="" class="form-control" type="text">
                                            </div>
                                       </div>
                                    </div>

                                    <div class="form-group">
                                            <div class="col-md-12  inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-camera"></i>
                                                    </span>
                                                    <input type="file" name="user-pic" accept="image/*" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                   
            

                        <!-- 
                                        <div class="form-group">
                                            <div class="col-md-12  inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                    </span>
                                                    <input name="user-desc" placeholder="Full Name" required="" [(ngModel)]="profileData.desc" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                        -->
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" (click)="onSubmit()" class="btn btn-info btn-block">Update
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
	</div>
</div>