<div class="container margin">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Sign Up <i class="glyphicon glyphicon-question-sign" style="float: right;"></i>
                    </h3>
                </div>
                <div class="panel-body">
                    <form role="form" class="form-horizontal" action=" " method="post" #regForm="ngForm" novalidate>
                        <fieldset>
                            <div class="alert" [class.alert-danger]='regState == false' [class.alert-success]='regState == true' *ngIf="message">{{message}}</div>
                            <div class="form-group">
                                <div class="col-md-12  inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </span>
                                        <input name="name" placeholder="Full Name" required #name="ngModel" [(ngModel)]="user.name" [(value)]="user.name" class="form-control" type="text">
                                        
                                    </div>
                                    <div class="alert alert-warning" [hidden]="user.name && user.name.length > 3">Please enter a valid full name.</div>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <div class="col-md-12  inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-envelope"></i>
                                        </span>
                                        <input name="email" required placeholder="mail@example.com" #email="ngModel" [(ngModel)]="user.email" [(value)]="user.email" class="form-control" type="email">
                                    </div>
                                    <div class="alert alert-warning" [hidden]="user.email && user.email.length > 3 && user.email.indexOf('@') > 2 && user.email.indexOf('.', user.email.indexOf('@')) >= 3">Please enter a valid email.</div>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <div class="col-md-12  inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-earphone"></i>
                                        </span>
                                        <input name="phone-mobile" placeholder="9781232100" required #phone="ngModel" maxlength="10" [(ngModel)]="user.phone" [(value)]="user.phone" class="form-control"
                                            type="phone">
                                    </div>
                                </div>
                                
                            </div>
                        <!-- </fieldset>
                        <fieldset> -->
                            <div class="form-group">
                                <div class="col-md-12 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            @
                                        </span>
                                        <input name="username" placeholder="Username" #username="ngModel" required maxlength="25" [(ngModel)]="user.username" [(value)]="user.username" class="form-control"
                                            type="text">
                                    </div>
                                    <div class="alert alert-warning" [hidden]="user.username && user.username.length > 3 && user.username.indexOf('_') != 0">Please enter a valid username.</div>
                                </div>
                            </div>
                            
                            <div class="form-group has-feedback">
                                <div class="col-md-12  inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                        <input class="form-control" #password="ngModel" required type="password" name="password" placeholder="password" [(value)]="user.password" [(ngModel)]="user.password"
                                        />
                                    </div>
                                    <div class="alert alert-warning" [hidden]="user.password && user.password.length >= 6">Please enter a valid password.</div>
                                    <div class="alert alert-danger" *ngIf="user.password.length < 6">Password must be at least 6 characters long.</div>
                                </div>
                                
                            </div>
                            <div class="form-group has-feedback">
                                <div class="col-md-12  inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                        <input class="form-control" type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm password" required [(ngModel)]="confirmpassword"/>                                        
                                        
                                    </div>
                                    <div class="alert alert-danger" [hidden]="confirmpassword == user.password">Passwords do not match</div>
                                </div>
                                
                            </div>
                            
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="button" (click)="createUser()" class="btn btn-info btn-block">Register
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>