<div class="container margin">
  <div class="row centered-form">
      <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Forgot Password 
                  </h3>
              </div>
              <div class="panel-body">
                <div class="panel-body">
                    <form role="form" class="form-horizontal" action=" " method="post" #regForm="ngForm" novalidate>
                        <fieldset>
                            <div class="alert" [class.alert-danger]='regState == false' [class.alert-success]='regState == true' *ngIf="message">{{message}}</div>
                            
                            <div class="form-group">
                                <div class="col-md-12  inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-envelope"></i>
                                        </span>
                                        <input name="email" required placeholder="mail@example.com" #email="ngModel" [(ngModel)]="emailID" [(value)]="emailID" class="form-control" type="email">
                                    </div>
                                    <div class="alert alert-warning" [hidden]="emailID && emailID.length > 3 && emailID.indexOf('@') > 2 && emailID.indexOf('.', emailID.indexOf('@')) >= 3">Please enter a valid email.</div>
                                </div>
                                
                            </div>                            
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="button" (click)="createUser()" class="btn btn-info btn-block">Submit
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
              </div>
          </div>             
      </div>
  </div>
</div>
