.margin {
    margin: auto;
  }

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.panel-heading{
  color: black;
  background: #FFA17F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, rgb(255, 142, 37), rgb(247, 153, 122));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, rgb(255, 142, 37), rgb(247, 153, 122)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}