<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <h3>Trips</h3>
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-info">
            <div class="panel-heading">
              Manage
            </div>
            <div class="panel-body">
              <div class="card">
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let trip of this.trips" (click)="onSelect(trip)" [class.selected]="trip === selectedTrip">
                    <div class="row justify-content-md-center">
                      <div class="col-sm-3">
                        <div class="">
                          {{trip.from}}
                        </div>
                      </div>
                      <div class="col-sm-1">
                        <i class="glyphicon glyphicon-arrow-right"></i>
                      </div>
                      <div class="col-sm-3">
                        <div class="">
                          {{trip.to}}
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
        <div class="col-sm-4" style="height: 100%;">
          <div *ngIf="selectedTrip" class="panel panel-default" style="text-align: center">
            <div class="panel-heading">Trip</div>
            <div class="panel-body">
              <span>
                <b>Trip ID:</b>
                <span> {{selectedTrip._id.slice(-4)}}</span>
              </span>
              <p>{{selectedTrip.from}}</p>
              <p>
                <i class="glyphicon glyphicon-plane"></i>
              </p>
              <p>{{selectedTrip.to}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>