<div class="container">
  <div class="row center-block">
    <div class="col">
      <p>Looking for someone to join you on your next travel adventure? Looking for someone to meet up with on your next business trip? You've come to the right place! Let TravelBuddy connect you with other travelers instead of traveling alone.</p>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">With TravelBuddy you can:</h4>
        </div>
        <div class="panel-content">
          <ul>
            <li>Sign up and create a profile.</li>
            <li>Create a trip you would like to take/are taking.</li>
            <li>Search for trips to destinations you're interested in.</li>
            <li>Follow and message other users.</li>
          </ul>
        </div>
      </div>
    
    </div>
  </div>
</div>