<div class="container box">
    <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="/assets/imgs/subway.jpg" >
            <div class="inner-content">
              <h2>Create</h2><br>
              <p class="title">Create profile and trip</p><br>
              <p>Like other User to travel with them</p><br>
            </div>
          </div>
        </div>
      
        <div class="col-md-4">
          <div class="card">
            <img src="/assets/imgs/friends1.jpg">
            <div class="inner-content">
              <h2>Match</h2><br>
              <p class="title">If they Like you, Its a Match</p><br>
              <p>Keep Searching</p><br>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="/assets/imgs/friends.jpg">
            <div class="inner-content">
              <h2>Travel</h2><br>
              <p class="title">Travel and Chat with matched user</p><br>
              <p>Get Started Now!</p><br>
            </div>
          </div>
        </div>
      </div>
</div>