.margin {
    margin: 0;
  }
  
.sub-heading {
  font-weight: 100;
  font-size: 15px;
  color: #333;
  background-color: #f5f5f5;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.panel-title-inner {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: inherit;
  font-weight: bold;
}

.panel-heading{
  background: #EBB38E;
  background: linear-gradient(to bottom, #EBB38E 0%,#EE8F54 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EBB38E', endColorstr='#EE8F54',GradientType=0 ); /* IE6-9 */
}

owl-date-time{
  border: none !important;
  margin: 0 !important;
}