<body class="container backgroundImage">
  <nav class="navbar navbar-inverse">
    <ul class="container-fluid">
      <li><a class="navbar-brand">LOGO</a></li>
      <li><button class="btn active" routerLink='/home'>Home</button></li>
      <li><button class="btn btn-outline-danger" routerLink='/signup'>Sign Up</button></li>
      <li><button class="btn btn-outline-dark" routerLink='/login'>Log In</button></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</body>
<!-- <div class="container backgroundImage">
    <div class="center">
      <p class="welcomeColor">Welcome to <span class="colorChangeAnimation">Travel Buddies</span></p>
      <button class="btn btn-outline-danger" routerLink='/signup'>Sign Up</button>
      <button class="btn btn-outline-dark" routerLink='/login'>Log In</button>
    </div>
</div> -->
<!-- <user-list></user-list> -->

