<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" (click)="collapse()">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
            </button>
        <a class="navbar-brand colorChangeAnimation d-flex" routerLink='/'>
          <span class="d-inline">Travel Buddy</span>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="collapsible" #collapsible>
        <ul class="nav navbar-nav">
          <li>
            <a class="active" routerLink='/home'><i class="glyphicon glyphicon-home"></i> Home</a>
          </li>
          <li>
            <a routerLink='/about'><i class="glyphicon glyphicon-info-sign"></i> About</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="!this.isLoggedin">
            <a [routerLink]="['/signup', undefined]"><i class="glyphicon glyphicon-user"></i> Sign Up</a>
          </li>
          <li  *ngIf="!this.isLoggedin">
            <a [routerLink]="['/login', true]"><i class="glyphicon glyphicon-log-in"></i> Log In</a>
          </li>
          <li *ngIf="this.isLoggedin">
            <a [routerLink]="['/userprof']"><i class="glyphicon glyphicon-user"></i> User Profile</a>
          </li>
          <li *ngIf="this.isLoggedin">
            <a [routerLink]="['/login', false]"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  <div class="wrapper">
    <h1 class="h1 text-center coolShadow" *ngIf="this.landing">Welcome to
      <span class="colorChangeAnimation">Travel Buddy</span>
    </h1>
    <app-landing *ngIf="landing"></app-landing>
    <div class="loading" *ngIf="this.loading">
        <p>Loading . . . </p>
      </div>
    <router-outlet *ngIf="!this.loading"></router-outlet>
  </div>
  
</div>