@import url(https://fonts.googleapis.com/css?family=Lato:700);

body{
	width: 100% !important;
    height: 100%;
    padding: 5%;
    padding-top: 0;
    background: none;
}

.navbar-brand{
	text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

#collapsible ul.nav * a{
	color: white !important;
}

#collapsible ul.nav * a:hover{
    color: gold !important;
}


router-outlet{
    text-align: center;
	margin-top: 80px;
	height: auto;
}

.welcomeColor {
    color: white;
}


