@import url(https://fonts.googleapis.com/css?family=Lato:700);

body{
	width: 100% !important;
	height: 960px;
}



.backgroundImage {
    background-image: url("/assets/imgs/header.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar-brand{
	text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

ul.nav * a{
	color: white !important;
}


router-outlet{
    text-align: center;
	margin-top: 80px;
	height: auto;
}

.welcomeColor {
    color: white;
}


.colorChangeAnimation {
    animation:colorchange 5s infinite alternate;
}

@keyframes colorchange {
	0% {
		color: rgb(33, 228, 179);
	}

	50% {
    	color: #34d6f3;
	}

	100% {
    	color: #cfa6eb;
	}
}
