.center{
  margin: auto;
  text-align: center !important;
}

.design{
  background-color: rgba(59, 58, 65, 0.479);
  border-top-left-radius: 400px;
  border-top-right-radius: 400px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  width: 100%;
  
  animation: fade-in 4s ease infinite alternate;
}

@keyframes fade-in{
  0%{ box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.185) inset;}
  100%{ box-shadow: 0px 0px 10px 10px rgba(58, 2, 2, 0.445) inset;}
}
div{
  padding: 10px;
}

.content{
  animation: landinganim 0.5s 0s alternate both ease-in; 
}
.content1{
  color: lightsalmon;
  animation: landinganim2 1s 0.6s alternate both ease-in;
}
.content2{
  color: lightgreen;
  animation: landinganim3 1s 0.6s alternate both ease-in;
}
.content3{
  color: lightskyblue;
  animation: landinganim2 1s 0.6s alternate both ease-in;
}
span{
  color: gold !important;
}

img{
  width: 64px;
}


@keyframes landinganim{
  0%{ transform: scale(0) translate(0px, -400px)}
  100% { transform: scale(1) translate(0px, 0px)}
}

@keyframes landinganim2 {
  0%{ transform: scale(0) translate(-400px, 0px)}
  100% { transform: scale(1) translate(0px, 0px)}
}

@keyframes landinganim3 {
  0%{ transform: scale(0) translate(400px, 0px)}
  100% { transform: scale(1) translate(0px, 0px)}
}