<div class="font-anim" align="center">
  <div class="travel-content1">
    <img src="http://www.freeiconspng.com/uploads/travel-guide-icon-map-ticket-travel-icon-17.png" width="100px" />
    <div class="travel-content11">
      <font style="font-weight:300;font-size: 45px;"> TRAVEL </font>
      <font style="font-weight:50;font-size: 45px;">BUDDY</font>
      <br />
      <font style="font-weight:300; font-size: 18px;">Yes It's so crazy</font>
    </div>
  </div>
  <div class="travel-content2">
    <div class="travel-content21">
      <font style="font-weight:400;font-size: 45px;">Share</font>
      <br />
      <font style="font-weight:300; font-size: 18px;">your boredom</font>
    </div>
  </div>
  <div class="travel-content3">
    <font style="font-weight:300;font-size: 55px;">Find Buddies</font>
    <br />
    <font style="font-weight:300; font-size: 18px;"> with whom you want to </font>
  </div>
  <div class="travel-content4">
    <font style="font-weight:300;font-size: 45px;"> Commute</font>
    <br />
    <font style="font-weight:300; font-size: 18px;">And</font>
  </div>
  <div class="travel-content5">
  </div>
</div>