<div class="container">
  <div class="row center">
    <div class="col-md-6 center design">
        <img class="content coolShadow" src="/assets/imgs/travellogoicon.png"/>
        <div class="content1 coolShadow">
            <h1>Find Buddies</h1>
            <span>with whom you want to</span>
        </div>
        <div class="content2 coolShadow">
            <h1>Commute</h1>
            <span>and</span>
        </div>
        <div class="content3 coolShadow">
            <h1>Share</h1>
            <span>your boredom</span>
        </div>
    </div>
  </div>
</div>