<div class="row">
    <div class="col-md-12">
      <h2>New User Signup</h2>
    </div>
  </div>
  <div class="row">
    <form class="col-md-12">
      <div class="form-group">
        <label for="user-id">ID</label>
        <input class="form-control" name="user-id" [(ngModel)]="user._id" disabled/>
      </div>
      <div class="form-group">
        <label for="user-name">Name</label>
        <input class="form-control" name="user-name" [(ngModel)]="user.name" placeholder="Name"/>
      </div>
      <div class="form-group">
          <label for="user-uname">Username</label>
          <input class="form-control" name="user-uname" [(ngModel)]="user.username" placeholder="Username"/>
        </div>
      <div class="form-group">
        <label for="user-email">Email</label>
        <input class="form-control" name="user-email" [(ngModel)]="user.email" placeholder="support@mlab.com"/>
      </div>
      <div class="form-group">
          <label for="user-pass">Password</label>
          <input class="form-control" name="user-pass" [(ngModel)]="user.password" placeholder="T*****" type="password"/>
        </div>
      <div class="form-group">
        <label for="user-phone-mobile">Phone</label>
        <input class="form-control" name="user-phone-mobile" [(ngModel)]="user.phone" placeholder="1234567890"/>
      </div>
      <button class="btn btn-primary" (click)="createUser(user)">Register</button>
    </form>
  </div>