<div class="row">
  <div class="col-md-4 cent" style="text-align: center">
      <div class="panel panel-default" >
          <div class="panel-heading">Profile</div>
          <div class="panel-body">
            <div class="card" >
                <img class="card-img-top profimg" src="{{this.currentUser.photoUrl}}" alt="Profile Pic">
                <div class="card-body">
                  <h4 class="card-title">{{this.currentUser.name}}</h4>
                  <p>{{this.currentUser.email}}</p>
            </div>
          </div>
        </div>
        <table class="table table-responsive table-bordered table-striped" >
          <tr>
            <th>Trip</th><td>0</td>
            <th>Friends</th><td>0</td>
          </tr>
        </table>
  </div>            
</div> 